
@media  only screen and (max-width:1312px) {
    .container{
        width:90%;
    }
    #banner{
        grid-template-columns: 55% 45%r;
        align-items: end;
    }
    
}

@media only screen and (max-width:1200px){

    #banner{
        grid-template-columns: 50% 50%;
        
    }
    .banner-heading{
        font-size: 56px;
    }
    #blog-post{
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    .navigation-bar{
        background-color: #fff;
        flex-direction: row;
        justify-content: center;
        
    }
    .navigation-bar .nav-button {
        border: 1px solid #d9d9d9;
        width: 100%;

    }
}


@media only screen and (max-width:992px){
    .banner-heading{
        font-size: 45px;
        line-height: 40px;
    }

    .post-box{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        gap: 20px;
    }
    .post-button{
        display: block;
    }
}

@media only screen and (max-width:668px){

    #banner{
        grid-template-columns: 1fr;
    }


    .banner-heading{
        font-size: 43px;
        margin-right: 0;
        line-height: 50px;
    }

    .banner-main{
        margin:10px;
        text-align: center;
    }
    .banner-text {
        font-size: 16px;
        margin: 0 auto;
    }
    .banner-image{
        margin-right: 0;
        text-align: center;
    }

    main{
        margin:20px;
    }
    .banner-image img{
        width:50%;

    }
    .post-box{
        display: grid;
        grid-template-columns: repeat(1 ,1fr);
        gap: 20px;
    }
    .navigation-bar{
   
        flex-direction: column; 
    }
    .navigation-bar{
        display :block;
        margin:0 auto;
    }
    .navigation-bar .nav-button{
        display:block;
        text-align: center;
        width:200px;
        margin: 20px 0;
    }
    .post-button{
        display: none;
    }
    .footer-links{
        flex-direction: column;
        align-items: center;
    }
    footer .social-link i{
        font-size: 24px;
    }

}
